<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Kumelen.My.MySettings.u979129534ConnectionString"
      connectionString="server=db4free.net;user id=u979129534;password=ku20len13;persistsecurityinfo=True;database=u979129534"
      providerName="MySql.Data.MySqlClient" />
    <add name="Kumelen.My.MySettings.kumelenConnectionString" connectionString="server=localhost;user id=root;database=kumelen"
      providerName="MySql.Data.MySqlClient" />
    <add name="Kumelen.My.MySettings.kumelenConnectionString1" connectionString="server=localhost;user id=root;database=kumelen;password=4762335"
      providerName="MySql.Data.MySqlClient" />
    <add name="Kumelen.My.MySettings.kumelenConnectionString2" connectionString="server=db4free.net;user id=escuelakumelen;password=Ku20me13len;persistsecurityinfo=True;database=kumelen"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
</configuration>